.app {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  display: flex;
  justify-content: space-between;
}

.movie_item {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-bottom: 1px solid #242424;
  padding: 20px;
  transition: background 0.5s;
}

.movie_item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.movie_item:last-child {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

.movie_item:hover {
  background: #8c5abb;
}

.movie_item div {
  display: flex;
  flex-direction: column;
}

.movie_item p {
  font-size: 8px;
  font-weight: bold;
}

.movie_item h3 {
  font-size: 14px;
}